<tr>
  <td valign="top">
  <label for="icon">Zip File</label>
  </td>
  <td valign="top">
  <input accept=".zip" type="file" id="uploadZip" name="icon">
  </td>
  
</tr>

<tr>
  <td colspan="5" style="text-align:center">
  <button type="submit">Upload Zip</button>
  </td>
</tr>



<script>

import { initializeApp } from "firebase/app";

// Your web app's Firebase configuration

const firebaseConfig = {

  apiKey: "AIzaSyDVQbP7JUXkCh9q7GO_-av3Wo3UFcnGPUA",

  authDomain: "makersregistration-b6f11.firebaseapp.com",

  databaseURL: "https://makersregistration-b6f11-default-rtdb.firebaseio.com",

  projectId: "makersregistration-b6f11",

  storageBucket: "makersregistration-b6f11.appspot.com",

  messagingSenderId: "159784800375",

  appId: "1:159784800375:web:b80d7a3d05ca6651e23672"

};


// Initialize Firebase
//
////const functions = require("firebase-functions");
//

const app = initializeApp(firebaseConfig);

var form = document.querySelector("form");
form.addEventListener("submit", function(event) {
event.preventDefault();

var timestamp = Number(new Date());
var storageRef = firebase.storage().ref(timestamp.toString());

var $ = jQuery;
var file_data = $("#uploadZip").prop("files")[0];

storageRef.put(file_data);
} )

</script>
